@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #00092c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
}

.title {
    margin-bottom: 50px;
}

.random-word {
    font-size: 40px;
}

.text-input {
    font-size: 2rem;
    padding: 10px;
}

.text-input:focus {
    outline: none;
}